@using Newtonsoft.Json;
@{
    ViewData["Title"] = "View";
}

<div id="react-content"></div>

<script>
  app.Admin_to(@ViewData["id"], "@ViewData["slug"]", "react-content", "@ViewData["ProjectName"]", @(Html.Raw(JsonConvert.SerializeObject(ViewData["CurrentAdmin"]))))
</script>